/* Global styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

/* for aligning everything in middle */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}


/* -------------------TITLE SECTION-------------------- */
/* -------------------TITLE SECTION-------------------- */


#about-title {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

#Sills-title {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#Project-tittle {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  border-radius: 10px;
}

#git-title {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.first-line {
  width: 200px;
  border: none;
  height: 4px;
  background-color: #ff7300;
  border-radius: 10px;
}

/* SecondLine */

.Project-line {
  width: 80px;
  border: none;
  height: 3px;
  background-color: #000;
  margin-left: 120px;
  border-radius: 10px;
  height: 4px;
  background-color: #ff7300;
}

.about-line {
  width: 80px;
  border: none;
  height: 4px;
  background-color: #000;
  margin-left: 120px;
  border-radius: 10px;
  background-color: #ff7300;
}

.Sills-line {
  width: 80px;
  border: none;
  height: 4px;
  background-color: #000;
  margin-right: 120px;
  border-radius: 10px;
  height: 4px;
  background-color: #ff7300;
}

.git-line {
  width: 80px;
  border: none;
  height: 4px;
  background-color: #000;
  margin-right: 120px;
  border-radius: 10px;
  height: 4px;
  background-color: #ff7300;
}

/* -----------------Navbar------------------------- */
/* -----------------Navbar------------------------- */

#nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo img {
  width: 60px;
  height: 50px;
  margin-left: 20px;
}

#nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#nav-menu li {
  padding: 10px;
}

#nav-menu li a {
  margin-right: 20px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
  border-bottom: 2px solid transparent;
}

#nav-menu li a:hover {
  color: #ff7300;
  border-bottom-color: #000;

}

/* ----------------Home section styles---------------------- */
/* ----------------Home section styles---------------------- */

#home {
  margin-top: 5rem;
  padding: 50px 0;
}

.home-text {
  display: flex;
  justify-content: space-between;
}

#mypic {
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  filter: drop-shadow(0px 10px 55px rgb(0, 45, 90));
}

#user-detail-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1px;
}


#user-detail-intro {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #10100f;
  color: #ff7300;
}

.typing-animation {
  animation: appearDisappear 4s infinite;
}

@keyframes appearDisappear {

  0%,
  100% {
    width: 0;
  }

  50% {
    width: 100%;
  }
}

#socials {
  list-style-type: none;
  display: flex;
  margin-left: -15%;
  margin-top: 30%;
}

#socials li {
  padding: 12px;
  transition: transform 0.2s;
}

#socials li:hover {
  transform: translateY(-5px);
}

#socials li a i {
  font-size: 1.4rem;
  color: #ff7300;
  border: 3px solid #ff7300;
  border-radius: 50%;
  padding: 10px;
}


/* About section styles */

.about-content {
  text-align: center;
}

.about-description {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  text-align: justify;
}


#resume-button-2 {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #ff7300;
  align-items: center;
}




/* 
technical Skills */

.box22 {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  background: linear-gradient(to right, #03173e, #42609c);
  border: 1px solid #989292;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1.8rem;
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
}

.skills-card {
  border: none;
  border-top: 3px solid rgb(126, 133, 126);
  font-size: 1em;
  color: #001C55;
  background: white;
  font-weight: bold;
  display: flex;
  flex: 0 1 16.9%;
  height: 55px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 1%;
  padding: 5px;
  transform-origin: 50% 5em;
  border-radius: 8px;
  animation: wiggle 2.3s linear infinite;
  animation-delay: calc(.3s * var(--i));
}

.skills-card:hover {
  background: linear-gradient(to left, #768eb9, #ffffff);
}

.box22>div>div>img {
  max-width: 40px;
  margin-right: 5px;
}




@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-10deg);
  }

  20% {
    transform: rotateZ(5deg);
  }

  25% {
    transform: rotateZ(-5deg);
  }

  30% {
    transform: rotateZ(3deg);
  }

  35% {
    transform: rotateZ(-2deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}




/* Projects section styles */
/* Projects section styles */


.Project {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.p-title {
  font-size: 20px;
}

.project-card {
  width: 45%;
  padding: 1rem;
  margin-bottom: 30px;
  gap: 20px;
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-card:hover {
  transform: scale(1.04);
}


.project-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project-card h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.project-card h2 {
  font-size: 16px;
  color: #666;
}

.deployed-links {
  width: 90%;
  font-size: 30px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.project-section-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}




/* ====hanging animation======= */
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

/* Contact section styles */
#contact {
  text-align: center;
  padding: 50px 0;
}

.contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-list li {
  margin-right: 20px;
}

.contact-list li:last-child {
  margin-right: 0;
}

.contact-list li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-list li a:hover {
  color: #666;
}





/* Responsive styles */
@media screen and (max-width: 768px) {
  .skills-card-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-card {
    width: 100%;
  }

  .project-card-container {
    grid-template-columns: 1fr;
  }

  .project-card-container {
    flex-wrap: wrap;
  }

  .project-card {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
  }
}


/* gitHub streak stats  */

.github {
  width: 58%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  margin: auto;
  text-align: center;
  gap: 10px;
  padding-top: 10px;
}

.github>div:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2;
  text-align: center;
}