/* Global styles */

html{
  scroll-behavior: smooth;
}

body {
  /* font-family: Arial, sans-serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


/* for aligning everything in middle */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}


/* -------------------TITLE SECTION-------------------- */
/* -------------------TITLE SECTION-------------------- */


#about-title {
  font-size: 1.17em;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

#Sills-title {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#Project-tittle {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  border-radius: 10px;
}

#git-title {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* left-title */

.left-title {
  position: relative;

}

.left-title::after {
  content: "";
  display: block;
  height: 5px;
  min-width: 150px;
  bottom: -8px;
  background-color: #ff7300;
  position: absolute;
  border-radius: 50px;
}

.left-title::before {
  content: "";
  display: block;
  height: 5px;
  min-width: 50px;
  bottom: -20px;
  background-color: #ff7300;
  position: absolute;
  transition: width 0.2s ease-out;
  border-radius: 50px;
}

/* right-title */

.right-title {
  position: relative;
}

.right-title::after {
  content: "";
  right: 0;
  display: block;
  height: 5px;
  min-width: 150px;
  bottom: -8px;
  background-color: #ff7300;
  position: absolute;
  border-radius: 50px;
}

.right-title::before {
  content: "";
  right: 0;
  display: block;
  height: 5px;
  min-width: 50px;
  bottom: -20px;
  background-color: #ff7300;
  position: absolute;
  transition: width 0.2s ease-out;
  border-radius: 50px;
}


/* -----------------Navbar------------------------- */
/* -----------------Navbar------------------------- */

/* Default styles for navigation */

#nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  z-index: 1000;
  color: black;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}



.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  text-decoration: none;
  position: relative;
  margin-right: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-list li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  bottom: -2px;
  background-color: #ff7300;
  position: absolute;
  left: 50%;
  transition: width 0.2s ease-out;
  border-radius: 50px;
}

.nav-list li a:hover::after {
  width: 100%;
  left: 0;
}


.nav-link {
  text-decoration: none;
  color: #333;
}

#nav-toggle-button {
  display: none;
}



/* ----------------Home section styles---------------------- */
/* ----------------Home section styles---------------------- */

#home {
  margin-top: 5rem;
  padding: 50px 0;
}

.home-text {
  display: flex;
  justify-content: space-between;
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.home-img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  background-color: rgb(241, 241, 241);
  text-align: center;
  box-shadow: 0px 10px 55px rgb(232, 235, 238);
}


#user-detail-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1px;
}


#user-detail-intro {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #ff7300;
  color: #ff7300;
}

.typing-animation {
  animation: appearDisappear 4s infinite;
}

@keyframes appearDisappear {

  0%,
  100% {
    width: 0;
  }

  50% {
    width: 100%;
  }
}

#socials {
  list-style-type: none;
  display: flex;
  margin-left: -15%;
  margin-top: 30%;
}

#socials li {
  padding: 12px;
  transition: transform 0.2s;
}

#socials li:hover {
  transform: translateY(-5px);
}

#socials li a i {
  font-size: 1.4rem;
  color: #ff7300;
  border: 3px solid #ff7300;
  border-radius: 50%;
  padding: 10px;
}


/* About section styles */
.about-content {
  display: flex;
  gap: 15px;
}

.about-content img {
  max-width: 100%;
  height: auto;
}

.about-description {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  text-align: justify;
  margin-top: 45px;
}

#resume-button-2 {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #ff7300;
  align-items: center;
}

.about-content .left-div {
  animation: slide-in-left 1s forwards;
}

.right-div img {
  width: 2000px;
  height: 300px;
}

.about-content .right-div {

  animation: slide-in-right 1s forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* technical Skills */

.box22 {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  background: linear-gradient(to right, #03173e, #42609c);
  border: 1px solid #989292;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1.8rem;
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
}

.skills-card {
  border: none;
  border-top: 3px solid rgb(126, 133, 126);
  font-size: 1em;
  color: #001C55;
  background: white;
  font-weight: bold;
  display: flex;
  flex: 0 1 16.9%;
  height: 55px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 1%;
  padding: 5px;
  transform-origin: 50% 5em;
  border-radius: 8px;
  animation: wave 3s infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.skills-card:hover {
  background: linear-gradient(to left, #768eb9, #ffffff);
}

.box22>div>div>img {
  max-width: 40px;
  margin-right: 5px;
}


/* Projects section styles */
/* Projects section styles */


.Project {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.p-title {
  font-size: 20px;
}

.project-card {
  width: 45%;
  padding: 1rem;
  margin-bottom: 30px;
  gap: 20px;
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-card:hover {
  transform: scale(1.04);
}


.project-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project-title {
  text-align: center;
  position: relative;
}

.project-title::after {
  content: "";
  display: block;
  height: 3px;
  min-width: 130px;
  background-color: black;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: width 0.2s ease-out;
  border-radius: 50px;
}


.project-card h2 {
  font-size: 16px;
  color: #666;
}

.tech i {
  font-size: 27px;
}

.tech h1 {
  font-size: .75em;
  font-weight: 700;
}

.tech {
  display: flex;
  justify-content: space-between;
}


.tech div img {
  width: 27px;
  height: 27px;
  margin-right: 2px;
  transition: filter 0.3s ease;
}

.html-icon:hover {
  color: #e65100;
  cursor: pointer;
}

.css-icon:hover {
  color: #0277bd;
  cursor: pointer;
}

.js-icon:hover {
  color: #d9b600;
  cursor: pointer;
}





/* ====hanging animation======= */
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* gitHub streak stats  */

.github {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contact section styles */
#contact {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  font-size: 17px;
}

.contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-list li {
  margin-right: 10px;
}

.contact-list li:last-child {
  margin-right: 0;
}

.contact-list li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 17px;
  gap: 20px;
}


#foot-socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#foot-socials li {
  padding: 5px;
  transition: transform 0.2s;
}

#foot-socials li:hover {
  transform: translateY(-5px);
}

#foot-socials li a i {
  font-size: 1.4rem;
  color: #ff7300;
  border: 3px solid #ff7300;
  border-radius: 50%;
  padding: 10px;
}



.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}


/* dark mode slider  */
input {
  --s: 22px;
  /* adjust this to control the size*/

  height: calc(var(--s) + var(--s)/5);
  width: auto;
  /* some browsers need this */
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: calc(var(--s)/2);
  display: grid;
  cursor: pointer;
  background-color: #ff7a7a;
  box-sizing: content-box;
  overflow: hidden;
  transition: .3s .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 20px;
}

input:before {
  content: "";
  padding: calc(var(--s)/10);
  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000 96%, #0000);
  background:
    var(--_g) 0 /var(--_p, var(--s)) 100% no-repeat content-box,
    var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box,
    #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s)/12)) contrast(11);
  transition: .4s, background-position .4s .1s,
    padding cubic-bezier(0, calc(var(--_i, -1)*200), 1, calc(var(--_i, -1)*200)) .25s .1s;
}

input:checked {
  background-color: #85ff7a;
}

input:checked:before {
  padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
  --_p: 100%;
  --_i: 1;
}


/* Dark mode */

body.dark-mode {
  background-color: #17202a;
  color: #dcdde1;
}

.dark-mode #nav-menu {
  background-color: #17202a;
  color: #dcdde1;
}

.dark-mode #nav-menu li a {
  color: #dcdde1;
}

.dark-mode #github-home {
  color: #dcdde1;
}

.dark-mode .section-title {
  color: #dcdde1;
}

.dark-mode #skills {
  background-color: #17202a;
}

.dark-mode .skills-card {
  background-color: #dee4ea;
}

.dark-mode .skills-card:hover {
  background-color: #4e6d8c;
  color: #17202a;
}

.dark-mode #projects {
  background-color: #17202a;
}

.dark-mode .project-card {
  background-color: #17202a;
  box-shadow: 0 2px 5px rgba(220, 221, 225, 0.2);
}

.dark-mode .project-title::after {
  background-color: white;
}

.dark-mode .project-card:hover {
  box-shadow: 0 6px 10px #dcdde1;
}

.dark-mode .techs {
  color: #dcdde1;
}

.dark-mode .project-description {
  color: #dcdde1;
}

.dark-mode #contact {
  background-color: #17202a;
}

.dark-mode #nav-links.active {
  /* background-color: rgba(23, 32, 42, 0.99); */
  background-color: #17202a;
}


.dark-mode .contact-list li a {
  color: #dcdde1;
}

.dark-mode #nav-toggle-button {
  color: white;
}





/* transition on scrolling */

#skills,
.project-card,
.github,
#contact {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}




/* ////////---- Responsive ////////----*/


@media (max-width: 770px) {

  body {
    overflow-x: hidden;
  }

  #nav-links {
    display: none;
  }

  /* Button styles */
  #nav-toggle-button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    outline: none;
  }


  /* Show the nav-list when the 'active' class is added */
  #nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .nav-list.active li {
    margin: 4px 0;
  }


  .nav-list.active a {
    display: block;
    padding: 10px 0;
    color: #000;
    font-size: larger;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  #home {
    width: 100%;
    margin-left: 10px;
    display: flex;
  }

  #socials li {
    font-size: 10px;
    margin-top: -80px;
  }

  #user-detail-name {
    font-size: 30px;
  }

  #mypic img {
    width: 180px;
    height: 180px;
    margin-left: 40px;
  }

  .box22 {
    width: 90%;
  }
}



@media (max-width: 768px) {
  body {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .about-content {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .about-description {
    min-width: 100%;
    font-size: 19px;
    text-align: justify;
    margin-top: -20px;
    margin-left: 0;
  }

  .right-div {
    width: 100%;
    text-align: center;
  }

  .right-div img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  #Sills-title {
    min-width: 100%;
  }

  #skills {
    min-width: 100%;
    margin-left: 0;
  }

  #skills div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .skills-card {
    width: 180px;
    height: 55px;
    margin-top: 10px;
    justify-content: space-around;
  }

  .Project {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 70%;
    margin-bottom: 20px;
  }
}

@media (max-width: 619px) {
  body {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  #Sills-title {
    min-width: 100%;
    margin-left: 0;
  }

  #skills {
    min-width: 100%;
    margin-left: 0;
  }

  #skills div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .Project {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
  }
}



@media (max-width: 619px) {
  #home {
    margin-top: 5rem;
    padding: 50px 0;
  }

  .home-text {
    display: flex;
    flex-direction: column;
  }
}




@media (max-width: 619px) {
  .github {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .github a img {
    width: 80%;
    max-width: 500px;
    height: auto;
  }
}



@media (max-width: 430px) {
  #Sills-title {
    min-width: 100%;
    margin-left: 0;
  }

  #skills {
    min-width: 100%;
    margin-left: 0;
  }

  #skills div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .box22 {
    width: 80%;
  }

  .skills-card {
    width: 140px;
    height: 55px;
    margin-top: 10px;
  }

  .github {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .github a img {
    width: 90%;
    max-width: 300px;
    height: auto;
  }

  .contact-list {
    display: block;
  }
}